<%- include("partials/header.ejs") %>

    <div class="container-fluid" style="text-align: center;">
        <h2>
            <%= title %>
        </h2>
        <p style="text-align: left;">
            <%= postContent %>
        </p>
    </div>

    <%- include("partials/footer.ejs") %>